<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<h1>Kurs Thymeleaf</h1>
<p> Hello World</p>

<p th:text="${name}"></p>
<p th:text="${car1.getMake()}"></p>
<p th:text="${car1.getModel()}"></p>

<tr th:each="car: ${cars}">
    <td th:text="${car.getMake()}"></td><br>
    <td th:text="${car.getModel()}"></td>
    <p>============================</p>
</tr>
<form th:action="@{/add-car}" th:object="${newCar}" method="post">
    <p>Make:  <input type="text" th:field="*{make}"></p>
    <p>Model: <input type="text" th:field="*{model}"></p>
    <p> <input type="submit" value="Add Car"></p>
</form>
</body>
</html>